//mixin para mediaQueries
@mixin breakpoint($punto-quiebre) {
    @if $punto-quiebre == tablet {
        @media (max-width: $ancho-punto-quiebre-tableta) {
            @content;
        }
    }
    @else if $punto-quiebre == movil {
        @media (max-width: $ancho-punto-quiebre-movil) {
            @content;
        }
    }
}

//mixin para centrar elementos con flexbox
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

//Mixin para btn
@mixin button-style($bg-color, $text-color) {
    background-color: $bg-color;
    color: $text-color;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        background-color: darken($bg-color, 10%);
    }
}