//Estilos HTML
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: $size-fuente-base;
    line-height: $altura-linea-base;
    background-color: $color-fondo-principal;
    color: $color-principal;
    margin: 0;
    padding: 20px;
}

main {
    max-width: $ancho-maximo;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
}

//Encabezados
h1, h2, h3, h4, p, ul{
    margin-top: 4px;
    margin-bottom: 2px;
}

//header
.header {
    align-items: center;
}

//Perfil
.profile {
    @include flex-center;
    justify-content: start;
    gap: 20px;
    img {
        border-radius: 50%;
        border: 2px solid $color-acento;
        width: 150px;
        height: 150px;
    }
}

//Datos generales
.general-info ul {
    list-style: none;
    padding: 0;
    li {
        margin-bottom: 4px;
    }
}

//Informacion contacto
.contact-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        margin-bottom: 4px;
        a {
            text-decoration: none;
        }
    }
}

// Contenedor de info
.info-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}
.info-item {
    flex: 1;
}

//Exp laboral
.experience .job {
    margin-bottom: 20px;
}

/*
//Habilidades
.skill-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;

    li {
        background-color: $color-acento;
        color: #fff;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
    }
}
*/

// Lista de tecnologías, habilidades y pasatiempos
.list-tech-hobb-skills {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    gap: 20px;
    li {
        background-color: $color-acento;
        color: #fff;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        flex: 1 1 calc(25% - 20px);
        transition: transform 0.3s ease, background-color 0.3s ease;

        &:hover {
            background-color: $color-secundario;
            transform: scale(1.05); // Efecto de zoom in
        }
    }
}

//Pie de pagina
.footer {
    text-align: center;
    margin-top: 20px;
    font-size: calc($size-fuente-base - 2px);
    color: $color-secundario;
}