//Variables
$color-fondo-principal: #f0f0f0;
$color-principal: #333;
$color-secundario: #555;
$color-acento: #007bff;
$size-fuente-base: 16px;
$altura-linea-base: 1.5;
$ancho-maximo: 800px;
$ancho-punto-quiebre-tableta: 768px;
$ancho-punto-quiebre-movil: 480px;